appnope==0.1.0
backcall==0.1.0
cloudpickle==0.8.0
cmake==3.13.3
cycler==0.10.0
dask==1.1.2
decorator==4.3.2
dlib==19.16.0
gevent==1.4.0
greenlet==0.4.15
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
kiwisolver==1.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.16.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
PyWavelets==1.0.2
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
toolz==0.9.0
traitlets==4.3.2
wcwidth==0.1.7
websocket==0.2.1
websocket-client==0.55.0
websockets==7.0
