<h1 class="mdc-typography--headline2">Inner Voices</h1>

<h3 class="mdc-typography--headline3">Live Camera</h3>
<div class="grid-container">
    <div class="video-holder">
        <canvas class="js-canvas"></canvas>
        <img class="js-stream" />
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll"
                    style="margin-bottom: 0px;">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0"
                            id="mdc-tab-4" data-id="0"><span class="mdc-tab__content"><span
                                    class="mdc-tab__icon material-icons" aria-hidden="true">edit</span><span
                                    class="mdc-tab__text-label">Draw Area
                                    1</span></span><span class="mdc-tab-indicator mdc-tab-indicator--active"><span
                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
                                    style=""></span></span><span
                                class="mdc-tab__ripple mdc-ripple-upgraded js-draw-button" data-id="1"
                                style="--mdc-ripple-fg-size:239px; --mdc-ripple-fg-scale:1.72093; --mdc-ripple-fg-translate-start:146.27px, -93.7344px; --mdc-ripple-fg-translate-end:79.7109px, -95.5px;"></span></button>
                        <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-5"><span
                                class="mdc-tab__content" data-id="0"><span class="mdc-tab__icon material-icons"
                                    aria-hidden="true">edit</span><span class="mdc-tab__text-label">Draw Area
                                    2</span></span><span class="mdc-tab-indicator"><span
                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
                                    style=""></span></span><span
                                class="mdc-tab__ripple mdc-ripple-upgraded js-draw-button" data-id="2"
                                style="--mdc-ripple-fg-size:233px; --mdc-ripple-fg-scale:1.72844; --mdc-ripple-fg-translate-start:130.5px, -87.6563px; --mdc-ripple-fg-translate-end:78.3906px, -92.5px;"></span></button>
                        <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-6"><span
                                class="mdc-tab__content" data-id="0"><span class="mdc-tab__icon material-icons"
                                    aria-hidden="true">edit</span><span class="mdc-tab__text-label">Draw Area
                                    3</span></span><span class="mdc-tab-indicator"><span
                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span><span
                                class="mdc-tab__ripple mdc-ripple-upgraded js-draw-button" data-id="3"></span></button>
                        <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-6"><span
                                class="mdc-tab__content" data-id="0"><span class="mdc-tab__icon material-icons"
                                    aria-hidden="true">edit</span><span class="mdc-tab__text-label">Draw Area
                                    4</span></span><span class="mdc-tab-indicator"><span
                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span><span
                                class="mdc-tab__ripple mdc-ripple-upgraded js-draw-button" data-id="4"></span></button>
                        <button class="mdc-tab" role="tab" aria-selected="false" tabindex="-1" id="mdc-tab-6"><span
                                class="mdc-tab__content" data-id="0"><span class="mdc-tab__icon material-icons"
                                    aria-hidden="true">save</span><span class="mdc-tab__text-label">Save
                                    Areas</span></span><span class="mdc-tab-indicator"><span
                                    class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span></span><span
                                class="mdc-tab__ripple mdc-ripple-upgraded js-save-button" data-id="4"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">

    </div>
</div>

<h3 class="mdc-typography--headline3">Audio</h3>
<div class="audio-container">
    <div class="video-wrapper">
        <audio controls src="/audio/background.mp3">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
        <form class="js-audio-upload-form" action="/uploadAudioFile" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="0" />
            <input type="file" name="video" id="file-0" class="inputfile js-audio-file" />
            <label for="file-0" class="mdc-button mdc-button--raised">Upload new audio</label>
        </form>
    </div>

</div>

<h3 class="mdc-typography--headline3">Videos</h3>

<div class="video-container">
    <div class="mdc-card demo-card">
        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="1">
            <video class="video-upload js-video" controls pause></video>
            <div class="demo-card__primary">
                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Video #1</h2>
            </div>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <form class="js-upload-form" action="/uploadVideoFile" method="post" enctype="multipart/form-data"
                    data-id="0">
                    <input type="hidden" name="id" value="0" />
                    <input type="file" name="video" id="file-1" class="inputfile js-file" />
                    <label for="file-1" class="mdc-button mdc-card__action mdc-card__action--button">Upload
                        video</label>
                </form>
                <button class="mdc-button mdc-card__action mdc-card__action--button js-flash-screen" data-id="0">Flash
                    screen</button>
            </div>
        </div>
    </div>

    <div class="mdc-card demo-card">
        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="2">
            <video class="video-upload js-video" controls pause></video>
            <div class="demo-card__primary">
                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Video #2</h2>
            </div>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <form class="js-upload-form" action="/uploadVideoFile" method="post" enctype="multipart/form-data"
                    data-id="1">
                    <input type="hidden" name="id" value="1" />
                    <input type="file" name="video" id="file-2" class="inputfile js-file" />
                    <label for="file-2" class="mdc-button mdc-card__action mdc-card__action--button">Upload
                        video</label>
                </form>
                <button class="mdc-button mdc-card__action mdc-card__action--button js-flash-screen" data-id="1">Flash
                    screen</button>
            </div>
        </div>
    </div>

    <div class="mdc-card demo-card">
        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="3">
            <video class="video-upload js-video" controls pause></video>
            <div class="demo-card__primary">
                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Video #3</h2>
            </div>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <form class="js-upload-form" action="/uploadVideoFile" method="post" enctype="multipart/form-data"
                    data-id="2">
                    <input type="hidden" name="id" value="2" />
                    <input type="file" name="video" id="file-3" class="inputfile js-file" />
                    <label for="file-3" class="mdc-button mdc-card__action mdc-card__action--button">Upload
                        video</label>
                </form>
                <button class="mdc-button mdc-card__action mdc-card__action--button js-flash-screen" data-id="2">Flash
                    screen</button>
            </div>
        </div>
    </div>

    <div class="mdc-card demo-card">
        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="4">
            <video class="video-upload js-video" controls pause></video>
            <div class="demo-card__primary">
                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Video #4</h2>
            </div>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <form class="js-upload-form" action="/uploadVideoFile" method="post" enctype="multipart/form-data"
                    data-id="3">
                    <input type="hidden" name="id" value="3" />
                    <input type="file" name="video" id="file-4" class="inputfile js-file" />
                    <label for="file-4" class="mdc-button mdc-card__action mdc-card__action--button">Upload
                        video</label>
                </form>
                <button class="mdc-button mdc-card__action mdc-card__action--button js-flash-screen" data-id="3">Flash
                    screen</button>
            </div>
        </div>
    </div>
</div>