<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="{{name}}">
  {{{body}}}
</body>

<script type="text/javascript" src="/javascripts/vendor/TweenLite.min.js"></script>
{{#each scripts}}
<script type="text/javascript" src="/javascripts/{{this}}"></script>
{{/each}}

</html>